/* 
* @Author: gaohuabin
* @Date:   2015-12-03 12:48:12
* @Last Modified by:   gaohuabin
* @Last Modified time: 2015-12-21 13:35:45
*/
/*header*/
.header{background: #16a085 url(../images/scratch-texture.png);height:200px; padding-top:30px;}
.header .fr{}
.header li{float: left; margin-right: 10px;height:40px;line-height: 40px;}
.header li a{color:#fff;}
.header img{width:40px;height:40px;border-radius: 5px; vertical-align: middle;}
.header li a:hover{color:#4a4a4a;}
.nav {background:#4a4a4a;}
.nav li {float: left; height:50px; line-height: 50px; margin-right: 10px;}
.nav a {display:block; padding-left:20px;padding-right: 20px;color:#fff;-webkit-transition: background .3s;
-o-transition: background .3s;
transition: background .3s;}
.nav a:hover,
.nav .active{background:#16a085 url(../images/scratch-texture.png);}
.search .txt{height:33px;line-height: 33px; width:300px;}
.search li {float: left;height:25px;line-height: 25px;margin-left:10px;margin-top:5px;}
.search a {display:block; padding-left:10px;padding-right: 10px;color:#000;border-radius:15px;border:1px solid #fff;-webkit-transition: border .1s,background .4s .1s,color .2s .2s;
-o-transition: border .1s,background .4s .1s,color .2s .2s;
transition: border .1s,background .4s .1s,color .2s .2s;}
.search a:hover,
.search .active{background:#4a4a4a;color:#fff;border:1px solid #333;}
.content{}
.content aside {}
.content section{ background:#eee;}

/*index*/
.list li{height:40px; line-height: 40px; border-bottom:1px dashed #ddd; overflow: hidden;}
.list li:hover{background:#ccc;}
.list li em{float: right;}
/*register*/
.register{}
.register form,.post form{width:500px; margin:0 auto;}
#photo{width:40px; height:40px;}
.photos{ width:450px; height:400px; position: absolute; top:50px; left:0; background:#fff;z-index: 10; box-shadow: 0 10px 10px #555;}
.photos:before,
.photos:after{position:absolute;left:10px;border:0 solid transparent; content:''; width:0;height:0;}
.photos:before{top:-20px; border-width:10px; border-bottom-color: #999;}
.photos:after{top:-16px;left:12px; border-width:8px; border-bottom-color: #aaa;}
#close{position:absolute;top:0;right:0;background:#666;color:#fff; width:50px; line-height: 50px; height:50px; text-align: center; font-size: 20px;}
.photos h3{ background:#aaa; padding-left:10px; font-family: 'SimSun'; color:#333;}
.photos img{width:100px; height:100px;}
.photos ul{padding:5px;}
.photos li{ margin:5px;}
#code{cursor: pointer;}
/*login*/
.login form{width:500px; margin:0 auto;}
/*blog*/
.blog{padding:20px;}
figure {float: left;padding:20px;}
figure a{display:block;}

#message{width:400px; height:400px; position: absolute; background:#fff;box-shadow: 0 5px 10px #666;}
/*userzone*/
.uz{padding:10px 0;}
.uz h2{text-align: center; background:#ccc; height:40px; line-height: 40px;}
.uz .side-bar{width:200px; background:#ddd;padding-bottom:10000px;margin-bottom:-10000px;}
.uz .side-bar dt,.uz .side-bar dd{height:40px; line-height: 40px; text-align: center;}
.uz .side-bar dt{font-weight: bold; margin-top:20px;}
.uz .main{width:760px; background:#ddd; padding-bottom:10000px;margin-bottom:-10000px;}
.uz .user dt,.uz .user dd {float: left;height:40px; line-height: 40px;}
.uz .user dt{text-align: right; font-weight: bold; width:300px; margin-right:20px; clear:left;}
.uz .message-detail dt{text-align: right; font-weight: bold; width:100px; margin-right:20px; clear:left;float: left;margin-top:20px;}
.uz .message-detail dd{float: left;width:500px;margin-top:20px;}
/*post*/

.emojis{ width:450px; height:400px; position: absolute;  background:#fff;z-index: 10; box-shadow: 0 10px 10px #555;}
.emojis:before,
.emojis:after{position:absolute;left:10px;border:0 solid transparent; content:''; width:0;height:0;}
.emojis:before{top:-20px; border-width:10px; border-bottom-color: #999;}
.emojis:after{top:-16px;left:12px; border-width:8px; border-bottom-color: #aaa;}
#close{position:absolute;top:0;right:0;background:#666;color:#fff; width:50px; line-height: 50px; height:50px; text-align: center; font-size: 20px;}
.emojis h3{ background:#aaa; padding-left:10px; font-family: 'SimSun'; color:#333;}
.emojis img{width:100px; height:100px;}
.emojis ul{padding:5px;}
.emojis li{ margin:5px;}

#ubb{background:url(../images/bgMenubar.gif)};
#ubb img{float: left;padding:5px 0 0 7px;}
#font{width:140px;height:50px;background:#eee;line-height: 20px;padding:4px;font-size: 12px;border:1px dashed #333;position: absolute; top:20px;left:105px; z-index: 1;display:none;}
#font strong{background:#fff; font-weight: normal;border:1px solid #ccc;cursor: default;}
#color{position:absolute; top:20px;left:215px;width:152px;height:130px;font-size: 12px;background:#eee;border:1px dashed #333;padding-top:4px;padding-left:4px; z-index: 2; display:none; }
#color strong{border:1px solid #999;width:13px;height:13px;display:block;float: left; margin-left:4px;margin-top:4px;}
#color em{display:block;height:28px;width:80%;clear:both;}
#color input{width:100%;margin-top:3px;}
.footer{background:#999;}



.logo {
    position: relative;
    width: 960px;
    height: 100px;
    cursor: default;
}

.logo > span {
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    -o-perspective: 200px;
    -ms-perspective: 200px;
    perspective: 200px;
    float: left;
    position: relative;
}

.logo > span:first-child,
.logo > span:last-child {
    z-index: 1;
}

.logo > span:nth-child(2),
.logo > span:nth-child(7){
    z-index: 2;
}

.logo > span:nth-child(3),
.logo > span:nth-child(6){
    z-index: 3;
}

.logo > span:nth-child(4) {
    z-index: 5;
}

.logo > span:nth-child(5){
    z-index: 4;
}

.logo span span {
    display: block;
    background: #16a085;
    background: -moz-linear-gradient(left, #16a085 0%, #008151 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#16a085), color-stop(100%,#008151));
    background: -webkit-linear-gradient(left, #16a085 0%,#008151 100%);
    background: -o-linear-gradient(left, #16a085 0%,#008151 100%);
    background: -ms-linear-gradient(left, #16a085 0%,#008151 100%);
    background: linear-gradient(to right, #16a085 0%,#008151 100%);
    box-shadow: 
        -1px 0 2px rgba(255,255,255,0.4),
        -2px 0 0 #16a085, 
        -2px 7px 9px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: -1px -1px 2px rgba(0,0,0,0.6);
    width: 50px;
    height: 65px;
    line-height: 65px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.logo > span:nth-child(n+5) span {
    background: #008151;
    background: -moz-linear-gradient(left, #008151 0%, #16a085 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008151), color-stop(100%,#16a085));
    background: -webkit-linear-gradient(left, #008151 0%,#16a085 100%);
    background: -o-linear-gradient(left, #008151 0%,#16a085 100%);
    background: -ms-linear-gradient(left, #008151 0%,#16a085 100%);
    background: linear-gradient(to right, #008151 0%,#16a085 100%);    
    box-shadow: 
        1px 0 2px rgba(255,255,255,0.4),
        2px 0 0 #16a085, 
        -2px 7px 9px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.logo > span:nth-child(4) span{
    -webkit-transform: translateZ(40px) translateY(30px) rotateY(40deg);
    -moz-transform: translateZ(40px) translateY(30px) rotateY(40deg);
    -o-transform: translateZ(40px) translateY(30px) rotateY(40deg);
    -ms-transform: translateZ(40px) translateY(30px) rotateY(40deg);
    transform: translateZ(40px) translateY(30px) rotateY(40deg);
}

.logo > span:nth-child(5) span{
    -webkit-transform: translateZ(40px) translateY(30px) rotateY(-40deg);
    -moz-transform: translateZ(40px) translateY(30px) rotateY(-40deg);
    -o-transform: translateZ(40px) translateY(30px) rotateY(-40deg);
    -ms-transform: translateZ(40px) translateY(30px) rotateY(-40deg);
    transform: translateZ(40px) translateY(30px) rotateY(-40deg);
}

.logo > span:nth-child(3) span{
    -webkit-transform: translateZ(30px) translateY(20px) rotateY(30deg);
    -moz-transform: translateZ(30px) translateY(20px) rotateY(30deg);
    -o-transform: translateZ(30px) translateY(20px) rotateY(30deg);
    -ms-transform: translateZ(30px) translateY(20px) rotateY(30deg);
    transform: translateZ(30px) translateY(20px) rotateY(30deg);
}

.logo > span:nth-child(6) span{
    -webkit-transform: translateZ(30px) translateY(20px) rotateY(-30deg);
    -moz-transform: translateZ(30px) translateY(20px) rotateY(-30deg);
    -o-transform: translateZ(30px) translateY(20px) rotateY(-30deg);
    -ms-transform: translateZ(30px) translateY(20px) rotateY(-30deg);
    transform: translateZ(30px) translateY(20px) rotateY(-30deg);
}

.logo > span:nth-child(2) span{
    -webkit-transform: translateZ(20px) translateY(10px) rotateY(20deg);
    -moz-transform: translateZ(20px) translateY(10px) rotateY(20deg);
    -o-transform: translateZ(20px) translateY(10px) rotateY(20deg);
    -ms-transform: translateZ(20px) translateY(10px) rotateY(20deg);
    transform: translateZ(20px) translateY(10px) rotateY(20deg);
}

.logo > span:nth-child(7) span{
    -webkit-transform: translateZ(20px) translateY(10px) rotateY(-20deg);
    -moz-transform: translateZ(20px) translateY(10px) rotateY(-20deg);
    -o-transform: translateZ(20px) translateY(10px) rotateY(-20deg);
    -ms-transform: translateZ(20px) translateY(10px) rotateY(-20deg);
    transform: translateZ(20px) translateY(10px) rotateY(-20deg);
}

.logo > span:first-child span{
    -webkit-transform: translateZ(10px) rotateY(10deg);
    -moz-transform: translateZ(10px) rotateY(10deg);
    -o-transform: translateZ(10px) rotateY(10deg);
    -ms-transform: translateZ(10px) rotateY(10deg);
    transform: translateZ(10px) rotateY(10deg);
}

.logo > span:last-child span{
    -webkit-transform: translateZ(10px) rotateY(-10deg);
    -moz-transform: translateZ(10px) rotateY(-10deg);
    -o-transform: translateZ(10px) rotateY(-10deg);
    -ms-transform: translateZ(10px) rotateY(-10deg);
    transform: translateZ(10px) rotateY(-10deg);
}

.logo > span:nth-child(-n+4) {
    -webkit-transform: translateX(14px);
    -moz-transform: translateX(14px);
    -o-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

























